@media screen and (min-width: 992px) {
  nav[data-toggle=toc].affix {
      top: 30px;
      position: fixed;
      .nav { margin-bottom: 0; }
  }
}

nav[data-toggle=toc] .nav>.active:focus>a,
nav[data-toggle=toc] .nav>.active:hover>a,
nav[data-toggle=toc] .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: $primary-color;
    background-color: transparent;
    border-left: 2px solid $primary-color;
}

nav[data-toggle=toc] .nav>li>a {
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.nav {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 30px;
    list-style: none;
}
